aiocqhttp==1.4.4
aiohttp==3.12.15
aiosqlite==0.21.0
anthropic==0.71.0
apscheduler==3.11.0
certifi==2025.8.3
cryptography==45.0.7
deprecated==1.2.18
google-genai==1.56.0
jieba==0.42.1
jsonschema==4.25.1
loguru==0.7.3
markitdown-no-magika==0.1.2
mcp==1.26.0
numpy==2.5.2
openai==2.6.1
packaging==25.0
pillow==11.3.0
psutil==7.1.0
pydantic==2.12.5
pydub==0.25.1
pypdf==6.1.1
pyyaml==6.0.3
rank-bm25==0.2.2
sqlalchemy==2.0.43
sqlmodel==0.0.24
